<p>
  shopping-cart works!
</p>


<h1>Shopping Cart</h1>

<table id="mycart" width="100%">
    <tbody id="cart"></tbody>
</table>
<p align='center'><button id='buy' class="btn btn-primary">Buy</button>
<button id='clear'class="btn btn-secondary" >Clear</button></p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Discription</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
