

<label for="Copy Right Policy">Copy Right Policy</label>
<p></p><!-- *ngIf = "(!Adminlogin) then readonly" -->
<textarea  id="textarea" name="textarea" 
placeholder="
INFORMATION COLLECTION AND USE:
While using our Site, we may ask you to provide us with certain personally identifiable information
that can be used to contact or identify you. Personally identifiable information may include, but is not
limited to your name.

LOG DATA:
Like many site operators, we collect information that your browser sends whenever you visit our Site
This Log Data may include information such as your computer's Internet Protocol address,
browser type, browser version, the pages of our Site that you visit, the time and date of your visit,
the time spent on those pages and other statistics.

SECURITY:
The security of your Personal Information is important to us, but remember that no method of
transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to
use commercially acceptable means to protect your Personal Information, we cannot guarantee its
absolute security."


style="width: 750px; height: 350px; " 
ng-reflect-name="textarea" ng-reflect-model="" 
class="ng-pristine ng-valid ng-touched">
</textarea>

<p></p>



<label for="Copy Right Policy">DMCA Notice</label>
<p></p>
<textarea readonly id="textarea" name="textarea" 
placeholder="
My name is MICHAEL and I am the CEO of BOOK STORE.
A website that your company hosts (according to WHOIS information) is infringing
on at least one copyright owned by my company.

An article was copied onto your servers without permission. The original 
ARTICLE/PHOTO, to which we own the exclusive copyrights, can be found at:
PROVIDE WEBSITE URL

The unauthorized and infringing copy can be found at:

http://se3313-mcaneff-lab5-mcaneff.c9users.io:8080/

This letter is official notification under Section 512(c) of the 
Digital Millennium Copyright Act (”DMCA”), and I seek the removal of the 
aforementioned infringing material from your servers. I request that you 
immediately notify the infringer of this notice and inform them of their duty 
to remove the infringing material immediately, and notify them to cease any 
further posting of infringing material to your server in the future.

Please also be advised that law requires you, as a service provider, to 
remove or disable access to the infringing materials upon receiving this notice.
Under US law a service provider, such as yourself, enjoys immunity from a 
copyright lawsuit provided that you act with deliberate speed to investigate 
and rectify ongoing copyright infringement. If service providers do not 
investigate and remove or disable the infringing material this immunity is 
lost. Therefore, in order for you to remain immune from a copyright infringement
action you will need to investigate and ultimately remove or otherwise disable
the infringing material from your servers with all due speed should the direct
infringer, your client, not comply immediately.

I am providing this notice in good faith and with the reasonable belief that
rights my company owns are being infringed. Under penalty of perjury I certify
that the information contained in the notification is both true and accurate,
and I have the authority to act on behalf of the owner of the copyright(s)
involved.

Should you wish to discuss this with me please contact me directly.

Thank you.

MICHAEL CANEFF

Address: 1151 RICHMOND ST
City: LONDON
Phone: 519 XXX XXXX
"
style="width: 750px; height: 800px; " 
ng-reflect-name="textarea" ng-reflect-model="" 
class="ng-pristine ng-valid ng-touched">
</textarea>



<div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>