<div 
     class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="products_.Image_URL" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{products.Product_Name}}</h5>
        <p class="card-text">{{products[1].textarea}}</p>
        <p class= "card-price">{{products_[1].Product_Price}}</p>
        <a href="#" class="btn btn-primary">Freedom Awaits</a>
      </div>
</div>



<div class="row">
    <div class="col">
        <div id="Mathematical Foundations of Neuroscience" class="card" style="width: 15rem;">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/41xuLZ%2BZi%2BL._SX304_BO1,204,203,200_.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Mathematical Foundations of Neuroscience</h5>
            <p class="card-text">Price: $80.00</p>
            <div class="rating-block">
            	<h6>Average user rating</h6>
            	<h2 class="bold padding-bottom-7">4.3 <small>/ 5</small></h2>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            </div>
            <button (click)= "addCart(id)" routerLink="/shopping-cart" href="#" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
        
        
    </div>
    
    
    
  <div class="col">
    <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51XWy95kQjL._SX329_BO1,204,203,200_.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Little Fires Everywhere</h5>
            <p class="card-text">Price: $80.00</p>
                <div class="rating-block">
            	<h6>Average user rating</h6>
            	<h2 class="bold padding-bottom-7">3.9 <small>/ 5</small></h2>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            </div>
            <button href="#" routerLink="/shopping-cart" class="btn btn-primary">Add to Cart</button>
        </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51GcmT5YbgL._SX327_BO1,204,203,200_.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Ranger Games: A Story of Soldiers, Family and an Inexplicable Crime</h5>
            <p class="card-text">Price: $80.00</p>
                        <div class="rating-block">
            	<h6>Average user rating</h6>
            	<h2 class="bold padding-bottom-7">4.6 <small>/ 5</small></h2>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            </div>
            <button href="#" routerLink="/shopping-cart" class="btn btn-primary">Add to Cart</button>
        </div>
    </div>
  </div>
  
  <div class="w-100" ></div>

  <div class="col">
    <div class="card" style="width: 15rem;">
        <img class="card-img-top" src= "https://i.ebayimg.com/images/g/xi4AAOSw4CFYp-3c/s-l600.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">The Oddysey</h5>
            <p class="card-text">Price: $25.00</p>
            <div class="rating-block">
            	<h6>Average user rating</h6>
            	<h2 class="bold padding-bottom-7">4.9 <small>/ 5</small></h2>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            </div>
            <button href="#" routerLink="/shopping-cart" class="btn btn-primary">Add to Cart</button>
        </div>
    </div>
  </div>
  
  <div class="col">
    <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61zueF3jF3L._SX308_BO1,204,203,200_.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Byzantium: The Surprising Life of a Medieval Empire</h5>
            <p class="card-text">Price: $50.00</p>
                        <div class="rating-block">
            	<h6>Average user rating</h6>
            	<h2 class="bold padding-bottom-7">4.5 <small>/ 5</small></h2>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            </div>
            <button href="#" routerLink="/shopping-cart" class="btn btn-primary">Add to Cart</button>
        </div>
    </div>
  </div>
  
  <div class="col">
    <div class="card" style="width: 15rem;">
        <img class="card-img-top" src= "https://images-na.ssl-images-amazon.com/images/I/51XWliJw1uL._SX379_BO1,204,203,200_.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Practical Statistics for Data Scientists: 50 Essential Concepts</h5>
            <p class="card-text">Price: $56.00</p>
            <div class="rating-block">
            	<h6>Average user rating</h6>
            	<h2 class="bold padding-bottom-7">4.0 <small>/ 5</small></h2>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            </div>
            <button href="#" routerLink="/shopping-cart" class="btn btn-primary">Add to Cart</button>
        </div>
    </div>
  </div>  

 <div class="w-100" ></div>
 
  <div class="col">
    <div class="card" style="width: 15rem;">
        <img class="card-img-top" src= "https://images-na.ssl-images-amazon.com/images/I/41hlD8gPegL._SX330_BO1,204,203,200_.jpg"
alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">The Will to Meaning: Foundations and Applications of Logotherapy</h5>
            <p class="card-text">Price: $30.00</p>
            <div class="rating-block">
            	<h6>Average user rating</h6>
            	<h2 class="bold padding-bottom-7">4.7 <small>/ 5</small></h2>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            </div>
            <button href="#" routerLink="/shopping-cart" class="btn btn-primary">Add to Cart</button>
        </div>
    </div>
  </div> 
  
  <div class="col">
    <div class="card" style="width: 15rem;">
    <img class="card-img-top"  src= "https://images-na.ssl-images-amazon.com/images/I/41zp0BW9o1L._SX312_BO1,204,203,200_.jpg"
 alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">The Gulag Archipelago</h5>
            <p class="card-text">Price: $12.00</p>
            <div class="rating-block">
            	<h6>Average user rating</h6>
            	<h2 class="bold padding-bottom-7">4.7 <small>/ 5</small></h2>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            </div>
            <button href="#" routerLink="/shopping-cart" class="btn btn-primary">Add to Cart</button>
        </div>
    </div>
  </div> 
  
  <div class="col">
    <div class="card" style="width: 15rem;">
        <img class="card-img-top" src= "https://images-na.ssl-images-amazon.com/images/I/51QmfKJ8PdL._SX348_BO1,204,203,200_.jpg"
 alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Affective Neuroscience: The Foundations of Human and Animal Emotions</h5>
            <p class="card-text">Price: $32.00</p>
            <div class="rating-block">
            	<h6>Average user rating</h6>
            	<h2 class="bold padding-bottom-7">4.6 <small>/ 5</small></h2>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            	<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
            	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            	</button>
            </div>
            <button href="#" routerLink="/shopping-cart" class="btn btn-primary">Add to Cart</button>
        </div>
    </div>
  </div>   
</div>

